body {
    margin: 0;
    background: #0D1F22;
    color: #F5F9E9;
    font-family: 'Kulim Park, sans-serif; };}.itIKwp{color:#F5F9E9;width:100vw;height:7rem;background:#0D1F22;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:end;-webkit-justify-content:end;-ms-flex-pack:end;justify-content:end;padding:0.5rem;top:0;z-index:999;};
}